# ===== 编译产物 =====
/xiangqi.exe
*.exe
*.dll
*.bak

# Pikafish 神经网络权重（约 48MB，按 README 指引自行下载）
*.nnue

# ===== 运行时自动生成的个人配置（首次运行自动创建） =====
/config.json
/engines.json

# ===== 过程产物（不入库） =====
/_verify/
/backup/
/matches/
/_sb.txt

# ===== Go 测试与覆盖率 =====
*.out
coverage.txt

# ===== 系统与编辑器 =====
Thumbs.db
.DS_Store
.idea/
.vscode/
